/* CONFIGURAÇÕES PRINCIPAIS */

body {
    width: auto;
    background: white;
    margin: 0;
    padding: 0;
    font-family: Trebuchet MS, sans-serif;
    color: rgb(0, 0, 0);
}


/* EDIÇÕES DOS TEXTOS */

.title {
    color: rgb(0, 79, 128);
    font-size: 26px;
    padding-left: 25px;
}

.paragrafo {
    font-size: 18px;
    padding-left: 35px;
    padding-right: 35px;
    text-align: justify;
}


/* ANIMAÇÃO DE ENTRADA */

.animation {
    opacity: 0;
    position: relative;
    right: 70%;
    transition: right 200ms;
}

.animation__start {
    right: 0%;
    opacity: 1;
    transform: scaleX(1);
}


/* MENU SUPERIOR */

.menu {
    position: relative;
    top: 0;
    width: 100%;
    height: 70px;
    background: rgb(0, 79, 128);
    color: white;
    display: flex;
    flex-direction: row;
    z-index: 1000;
}

.img_name {
    width: 300px;
    position: relative;
    left: 250px;
    top: -10px;
}

.menu__superior--div {
    width: auto;
    height: 30px;
    position: absolute;
    top: 25px;
    right: 250px;
}

.menu__superior {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 14px;
}

.menu__superior--itens a {
    border-radius: 7px;
    text-decoration: none;
    color: white;
    padding: 1ch;
    margin-left: 10px;
}

.menu__superior--itens a:hover {
    transition: .2s;
    border-radius: 7px;
    background: white;
    font-size: 16px;
    text-decoration: none;
    color: rgb(0, 79, 128);
    font-weight: bold;
    padding: 1.1ch;
    margin-left: 10px;
}


/* ITENS DO CORPO */

.corpo__itens {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.corpo__itens--edit {
    width: 70%;
}

.corpo__imagem {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 0;
    opacity: 0.8;
}


/* HOME */

.corpo {
    width: 100%;
}

.corpo__home--edit {
    width: 70%;
}

.corpo__home--edit p {
    font-size: 18px;
    padding-left: 45px;
}

.corpo__home--edit b {
    color: rgb(0, 79, 128);
}


/* FOOTER */

.final__site {
    width: 100%;
    height: 70px;
    background: rgb(0, 79, 128);
    position: relative;
}

.final__site--text {
    position: absolute;
    top: 10px;
    left: 200px;
}

.final__site--text h2 {
    color: white;
    font-size: 14px;
}

.redes__sociais {
    margin: 0 auto;
    position: absolute;
    top: 10px;
    right: 200px;
}

.redes__sociais a {
    padding: 5px;
}

.redes__sociais i {
    color: white;
    font-size: 30px;
}

.face:hover {
    font-size: 32px;
    transition: .1s;
    color: rgb(83, 163, 255);
}

.inst:hover {
    font-size: 32px;
    transition: .1s;
    background: -webkit-linear-gradient(rgb(255, 177, 87), rgb(255, 60, 167));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.linkedin:hover {
    font-size: 32px;
    transition: .1s;
    color: rgb(0, 130, 216);
}

.git:hover {
    font-size: 32px;
    transition: .1s;
    color: #888;
}


/* WHATSAPP */

.whatsapp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}