/* CONFIGURAÇÕES PRINCIPAIS */

body {
  width: auto;
  background: white;
  margin: 0;
  padding: 0;
  font-family: Trebuchet MS, sans-serif;
  color: rgb(0, 0, 0);
}

/* EDIÇÕES DOS TEXTOS */

.title {
  color: rgb(0, 79, 128);
  font-size: 26px;
  padding-left: 25px;
}

.paragrafo {
  font-size: 18px;
  padding-left: 35px;
  padding-right: 35px;
  text-align: justify;
}

/* ANIMAÇÃO DE ENTRADA */

.animation {
  position: relative;
  opacity: 0;
  right: 70%;
  transform: scaleX(0);
}

.animation__start {
  position: relative;
  opacity: 1;
  right: 0;
  transform: scaleX(1);
  transition: 1s, opacity 1s;
}

/* MENU SUPERIOR */

.menu {
  position: relative;
  top: 0;
  width: 100%;
  height: 80px;
  background: rgb(0, 79, 128);
  color: white;
  display: flex;
  z-index: 1000;
}

.menu .sticky {
  position: fixed;
  background: rgba(0, 79, 128, 0.548);
}

.menu__superior--div {
  width: 100%;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.menu__superior {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.menu__superior--itens {
  display: flex;
  font-size: 16px;
  width: auto;
}

.menu__superior--itens a {
  text-align: center;
  padding: 10px;
  text-decoration: none;
  color: white;
}

.menu__superior--itens a:hover {
  color: rgb(0, 79, 128);
  background: white;
  transition: 0.3s;
  font-weight: bold;
  border-radius: 10px;
}
/* ITENS DO CORPO */

.corpo__itens {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

.corpo__itens--edit {
  width: 70%;
}

.corpo__imagem {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 0;
  opacity: 0.8;
}

/* HOME */

.corpo {
  width: 100%;
}

.corpo__home--edit {
  width: 70%;
}

.corpo__home--edit p {
  font-size: 18px;
  padding-left: 45px;
}

.corpo__home--edit b {
  color: rgb(0, 79, 128);
}

/* FOOTER */

.final__site {
  width: 100%;
  height: 70px;
  background: rgb(0, 79, 128);
  position: relative;
}

.final__site--text {
  position: absolute;
  top: 10px;
  left: 200px;
}

.final__site--text h2 {
  color: white;
  font-size: 14px;
}

.redes__sociais {
  width: 10em;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 200px;
}

.redes__sociais a {
  width: 25px;
  height: 40px;
  margin: 5px;
}

.redes__sociais i {
  color: white;
  font-size: 30px;
}

.face:hover {
  font-size: 32px;
  transition: 0.1s;
  color: rgb(83, 163, 255);
}

.inst:hover {
  font-size: 32px;
  transition: 0.1s;
  background: -webkit-linear-gradient(rgb(255, 177, 87), rgb(255, 60, 167));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.linkedin:hover {
  font-size: 32px;
  transition: 0.1s;
  color: rgb(0, 130, 216);
}

.git:hover {
  font-size: 32px;
  transition: 0.1s;
  color: #888;
}

/* WHATSAPP */

.whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  font-size: 30px;
  box-shadow: 1px 1px 2px #888;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

/* SCROLL */
/* personalizar a barra em geral, aqui estou definindo 10px de largura para a barra vertical
e 10px de altura para a barra horizontal */
::-webkit-scrollbar {
  width: 7px;
}

/* aqui é para personalizar o fundo da barra, neste caso estou colocando um fundo cinza escuro*/
::-webkit-scrollbar-track {
  background: rgba(119, 119, 119, 0.618);
}

/* aqui é a alça da barra, que demonstra a altura que você está na página
  estou colocando uma cor azul clara nela*/
::-webkit-scrollbar-thumb {
  border-radius: 7px;
  width: 5px;
  background: rgb(0, 79, 128);
}
